		/*Create a new file called "main.css"
		*Add a link element to the head of your index.html file
		<link rel="stylesheet" href="main.css" type="text/css">
		*Edit the main.css file
		*add a declaration for each element in the body of your index.html file.
		*add properties to style the background color of each element.
		*add properties to style the border of each element.
		*add properties to style the font and text of each element.
		*Use at least 20 different properties. Include a list of these 20 at the TOP of your main.css file as a css comment.
		*Use at least 4 different units to set sizes of various aspects of your webpage.
		*Go learn something from 2 classmates; add a comment to your main.css file that describes what you learned.
		*View your index.html in the development server.
		*Validate your index.html file.
		*Validate your main.css file.
		*Copy this list of requirements and paste it into the top of your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
		*Upload to the production server with sftp.
		*View your index.html in the production server*/

html {
	background-color: navy;
}
h1 {
	background-color: black;	
	color: white;
	text-align: center;
	font-size: 48px;
	border-style: solid;
	font-family: serif;
}
h2 { 
	background-color: red;
	font-size: 36px;
	font-style: italic;
	border-style: dotted;	
	border-color: yellow;
	border-width: 3px;
	font-family: monospace;
	color: white;
	max-width: 175px;
	max-height: 150px;
	opacity: 0.9;
	min-height: 1px;
	min-width: 1px;
	transform: rotate(-7deg);
}
p {	
	margin: 0.5in;	
	background: gold;
	border-color: maroon;
	font-family: monospace;
	color: black;
	border-style: dashed;
	text-shadow: 1px 1px #ff0000;
	padding: 10px;
	padding-bottom: 1cm;
	padding-top: 1cm;
	padding-right: 1cm;
	padding-left: 1cm;
	font-size: 250%;
	direction: rtl;
}
header {
	background-color: orchid;
	border-style: dotted;	
	text-shadow: 1px 1px #ff0000;
}
main {
	background-color: violet;
	border-style: groove;	
	font-family: serif;
	font: 15px;
}
nav { 
	background-color: lightblue;
	border-style: solid;	
	border-width: 10px;
}
footer {
	background-color: hotpink;
	border-style: dashed;	
	border-color: red;
	font-family: serif;
} 

Properties used: 1.background-color 2.color 3.text-align 4.font-size 5.border-style 6.font-family 7.font-style 8.border-color 9.border-wdith 10.max-width 11.max-height 12.opacity 13.margin 14.background 15.text-shadow 16.padding 17.min-height 18.min-width 19.direction 20.transform

Things Ive Learnt : From Bill to use padding and from Pat to used border-style
