html {
	background-color: navy;
}
h1 {
	background-color: black;	
	color: white;
	text-align: center;
	font-size: 48px;
	border-style: solid;
	font-family: serif;
}
h2 { 
	background-color: red;
	font-size: 36px;
	font-style: italic;
	border-style: dotted;	
	border-color: yellow;
	border-width: 3px;
	font-family: monospace;
	color: white 
}
p {	
	margin: 2cm;	
	background: springgreen;
	border-color: maroon;
	font-family: monospace;
	font-size: 24px;
	color: black;
	border-style: dashed;
	text-shadow: 1px 1px #ff0000;
}

