html {
	background-color: pink;
}
h1{
	margin: 1.5cm;
	font-size: 56px;
	color: red;
	background: skyblue;
	min-height: 3cm;
	min-width: 10cm;
	text-decoration: underline;
	border-bottom-style: dotted;
	border-bottom-color: olivedrab;
}	
p {
	margin: 1cm;	
	color: blue;
	text-decoration: underline;
}
h2 {
	margin: 1cm;		
	background: blue;
	color: white;
}
h3 {
	margin: 1cm;	
	background: blue;
	color: white;
}
h4{
	margin: 1.5cm;





